$dark: #424652;
$light: #9a9da4;
$white: #FFFFFF;
$highlight: #0095ff;
$secondary: #bebebe;
$border: #E9E9E9;
$black: #000;


body {
	font-family: 'Raleway', sans-serif;
 	background: #EDEFF0;

 	a {
 		text-decoration: none;
 		color: $highlight;
 	}
}

.skinny_wrapper {
	width: 80%;
	max-width: 760px;
	margin: 0 auto;
}

.wrapper {
	width: 60%;
	max-width: 1140px;
	margin: 0 auto;
}

.wrapper_padding {
	padding: 4rem 0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.main_header {
	width: 100%;
	margin: 0 auto;
	background: white;
	#logo {
		float: left;
		a {
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: -1px;
			font-size: 1.5em;
			text-decoration: none;
			color:$highlight;
		}
	}
	#buttons {
		float: right;
		a {
			line-height: 60px;
			background: $highlight;
			padding: .5em 1em;
			border-radius: 0.2em;
			color: white;
			text-decoration: none;
			font-weight: 100;
			&:hover {
				background: $white;
				color: $highlight;
				border: 2px solid $highlight;
			}
		}
	}
}

#posts {
	background: white;
	padding: 2em 5%;
	border-radius: .5em;
	.post {
		margin: 1em 0;
		padding: 1em 0;
		border-bottom: 1px solid $border;
		.title {
			margin: 0;
			a {
				color: $highlight;
				text-decoration: none;
				font-weight: 100;
				font-size: 1.25rem;
			}
		}
		.date {
			margin-top: .25rem;
			font-size: 0.9rem;
			color: #B2BAC2;
		}
	}
}

.button {
	color: $highlight;
	border: 1px solid $highlight;
	padding: .5em 1em;
	border-radius: 0.2em;
	text-decoration: none;
	margin-right: 2%;
}

#post_content {
	background: white;
	padding: 2em 5%;
	border-radius: .5em;
	h1 {
		font-weight: 100;
		font-size: 2em;
		color: $highlight;
		margin-top: 0;
	}
	p {
		color: #B2BAC2;
		font-size: 0.9rem;
		font-weight: 100;
		line-height: 1.5;
	}
	#comments {
		.comment {
			border-bottom: 1px solid $border;
			padding-bottom: 1em;
			margin-bottom: 1em;
			.content {
				width: 75%;
				float: left;
			}
			.buttons {
				width: 25%;
				float: left;
				font-size: .8em;
				text-align: right;
				padding-top: 1.5em;
				a {
					color: $highlight;
					border: 1px solid $highlight;
					padding: .5em 1em;
					border-radius: 0.2em;
					text-decoration: none;
					margin-right: 2%;
				}
			}
			.comment_content {
				margin: 0;
				padding: 0;
			}
			.comment_author {
				color: $highlight;
				margin-top: .5rem;
				font-size: 0.6em;
				font-weight: 700;
			}
		}
		textarea {
			width: 100%;
			min-height: 200px;
			border: 1px solid $border;
			border-radius: .2em;
			margin: 1em 0;
		}
	}
}

#page_title {
	text-align: center;
	border-bottom: 1px solid $border;
	padding: 1.5em 0;
	font-size: 1em;
	text-transform: uppercase;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	width: 100%;
	border: 1px solid $border;
	padding: 1em;
	margin: .5em 0 2em 0;
}

textarea {
	min-height: 15em;
	width: 638px;
	padding: 1em !important;
}

input[type="submit"], .button {
	outline: none;
	background: transparent;
	border: 2px solid $border;
	text-align: center;
	font-size: 1em;
	color: $dark;
	text-decoration: none;
	padding: 1em 2em;
	&:hover {
		border: 2px solid $highlight;
		color: $highlight;
	}
}

.pagination:before,
.pagination:after {
	content: " ";
	display: table;
}

.pagination:after {
	clear: box;
}

.pagination {
	text-align: center;
	margin: 0 0 3em 0;
	a, .previous_page, .current, .next_page {
		padding: .75em 1em;
		margin: 0 .5em;
		border-radius: .15em;
		line-height: 20px;
		text-decoration: none;
		background: $white;
		font-weight: 700;
		font-size: .75em;
		font-style: normal;
		color: $dark;
		&:hover {
			background: $highlight;
			color: $white;
		}
	}
	.current {
		background: $highlight;
		color: $white;
	}
	.disabled {
		color: #C0C0C0;
		&:hover {
			color: #C0C0C0;
			background: $white;
		}	
	}
}